body {
    font-family: 'Courier New', Courier, monospace;
}

.hero-banner{
    margin: 10px 80px 10px 80px;
    padding: 0.2rem 1rem;

}

.notification {
    height: 400px;
    overflow: scroll;
}

.instructions{
    display: flex;
    align-items: center;
}

.instructions-text{
    margin-right: 10px;
}

.title{
    text-align: center;
    
}
.movie-image{
    width: 200px;
}

.button{
    margin-left: 10px;
}

#PersonFace {
    margin: 30px auto;
    margin-bottom: 100px;
}
#PosterContainer {
    margin: 30px auto;
    margin-bottom: 100px;
}


#Movie-Title {
    text-align: center;
}

#PersonCharacter {
    text-align: center;
}

.gap{
    font-size: 8px;
    line-height: 8px;
}

header{
    margin: 10px 80px 10px 80px
}

.form{
    width: 750px;
    height: 150px;
    padding: 0px;
    
}
